body, html {
    margin: 0;
    font-family: "Source Sans 3", sans-serif;
    color: #06A9B1;
    height: 100%;
}

/*Efeito Parallax
-----------------------------*/
.caixa1 {
    position: relative;
    height: 100%;
    opacity: 0.7;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.caixa1 {
    background-image: url(imagens/capa1.jpg);
}

.conteudo-titulo {
    position: absolute;
    left: 0%;
    top: 45%;
    width: 100%;
    text-align: center;
}

.conteudo-titulo span.titulo {
    color: #fff;
    background-color: #06A9B1;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

/*Menu
-----------------------------*/
a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #06a9b1;
    padding: 8px 12px;
}

a:hover {
    text-decoration: underline;
    padding: 8px 12px;
}

ul li {
    list-style-position: inside;
}

nav ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 20px;
}

.menu-horizontal li.dropdown:hover .menu-vertical {
    display: block;
}

.menu-vertical {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    z-index: 1;
    padding: 10 0px;
}

.menu-vertical li {
    display: block;
    padding: 10px;
}

a:hover {
    color: #fff;
    background: #06a9b1;
    text-decoration: none;
}

/*Conteúdo
-----------------------------*/
*main {
    display: grid;
    gap: 20px;
    margin: 20px 20px;
}

@media (max-width: 768px) {
    main {
      grid-template-columns: 1fr;
    }
  }
  
main section,
main article {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;  
  }

.container{
    padding: 20px;
    box-shadow: 10px 10px 20px #babecc,
                -10px -10px 20px #ffffff;
}

/*Botão
-----------------------------*/
.botao-login, .botao-cadastro {
    display: inline-block;
    margin-left: 10px; /* ajuste conforme necessário */
}

.botao-login a, .botao-cadastro a {
    display: block;
    padding: 10px 20px;
    background-color: #007bff; /* cor de fundo */
    color: #fff; /* cor do texto */
    text-decoration: none;
    border-radius: 5px;
}

.botao-login a:hover, .botao-cadastro a:hover {
    background-color: #0056b3; /* cor de fundo ao passar o mouse */
}
