body, html {
    margin: 0;
    font-family: "Source Sans 3", sans-serif;
    color: #06A9B1;
    height: 100%;
    background-color: #f0f0f0; /* Cor de fundo */
}

.site-header {
    text-align: center;
}

.site-title {
    margin: 20px 0; 
    font-size: 28px;
    font-weight: bold;
}

.site-title a {
    text-decoration: none;
    color: #06A9B1;
    font-size: inherit;
}

.site-title a:hover {
    color: #0056b3;
}

.conteudo-titulo {
    position: absolute;
    left: 0%;
    top: 45%;
    width: 100%;
    text-align: center;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    color: #06A9B1;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.login-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

.signup-link {
    text-align: center;
    margin-top: 10px;
}

.signup-link a {
    color: #06A9B1;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}


